@model CabBookingEntity.UserEntityDb

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_MasterView.cshtml";
}

<h2>SignUp</h2>
@using (Html.BeginForm("SignUp", "Cab", FormMethod.Post))
{
    if (!IsPost)
    {
<table cellpadding="10">
    <tr>
        <td>
            @Html.Label("First Name")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </td>
    </tr>

    <tr>
        <td>
            @Html.Label("Last Name")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Mobile Number")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MobileNumber)
            @Html.ValidationMessageFor(model => model.MobileNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Mail Id")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.MailId)
            @Html.ValidationMessageFor(model => model.MailId)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Password")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Confirm Password")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Role")
        </td>
        <td>
            @Html.EnumDropDownListFor(Model => Model.UserRole, "Role")
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="submit" />
        </td>
    </tr>
</table>
    }
    else
    {
        <h1>@ViewBag.Message</h1>
    }
<div>
    @Html.Partial("_LocationsTable")
</div>
}


